{% extends "network/layout.html" %}
{% load static %}




{% block body %}

{% block script %}
  <script src="{% static 'network/post.js' %}"></script>
{% endblock %}




<div id="form">
    <form action="{% url 'create' %}" method="POST">
        <h3>Add Post</h3>
        {% csrf_token %}
        {{form}}
        <input type="submit" class="btn btn-dark" value="Add Post">
    </form>
</div>



<div id="allposts">
    {% for post in allposts %}
    
        
        <div class="row" style="margin: 10px;">
            <div class="col-md-8">
                <div class="people-nearby">
                  <div class="nearby-user">
                    <div class="row">
                      <div class="col-md-7 col-sm-7 ">
                        <h5><a href="{% url 'profile' post.user.id %}" style="text-decoration: none;">{{post.user}}</a></h5>
                        <p id="postDes{{post.id}}">{{post.des}}</p>
                        <p class="text-muted">{{post.date}}</p>

                        {% if post.user == request.user %}
                          <textarea id='edit-text{{post.id}}' style="width: 100%;display: none;">{{post.des}}</textarea>
                        {% endif %}
                      </div>

                      
                      <div style="position: relative;"class="col-md-3 col-sm-3">
                        <div  style="position: absolute; right:0; display: block;">
                        {% if user.is_authenticated %}

                          <div id ="counter{{post.id}}" style="position: absolute; top:0;"> {{post.likes.all.count}} </div>
                         

                          {% if request.user in post.liked.all %}
                          
                          <button onclick="like('{{post.id}}')" style="margin-left:10px;color: red;border: none;"class="fa fa-heart" id="heart{{post.id}}"></button>

                          
                          
                          {% else %}
                          <button onclick="like('{{post.id}}')" style="margin-left:10px;color: black;border: none;"class="fa fa-heart" id="heart{{post.id}}"></button>
                         
                     
                          {% endif %}
                      {% else %}
                          <label style="font-weight: 700;">Likes: </label>
                          {{post.likes.all.count}}

                      {% endif %}
                          
                  

                    
                     
                    
                    </div>
                     
                        
                        {% if post.user == request.user %}

                          <div class="pull-left"  style="position: absolute; bottom: 0; right:0;"><button id="save{{post.id}}" type="button" style="display: none;" class="btn btn-dark">Save</button></div>
                          <div class="pull-left" style="position: absolute; bottom: 0; right:0;" ><button onclick="edit('{{post.id}}')" id="edit{{post.id}}" type="button" class="btn btn-dark">Edit</button></div>

                        {% endif %}
                        
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        
    
  </div>
    {% endfor %}
</div>

<nav style="margin-left: 25px;"aria-label="Page navigation example">
  <ul class="pagination">
    {% if allposts.has_previous %}
    <li class="page-item"><a class="page-link" href="/?page={{ allposts.previous_page_number }}">Previous</a></li>
    {% endif %}
    {% if allposts.has_next %}
    <li class="page-item"><a class="page-link" href="/?page={{ allposts.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
</nav>







{% endblock %}
